body{
    background-color: #fcfcfc;
}
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
#message{
    display: none;
}
#toast-container {
    z-index: 2;
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:50%;
}

.form-options button[type=submit] {
    -webkit-appearance: none;
    padding:0px 0px;
    margin-right: 0;
    display: inline;
    background:none;
    color: #f24f4f;
    border:0 none;
    cursor:pointer;
}

.nav-wrapper{
    background-color: #fc3a3a;
}

#top-nav{
    background-color: #f24f4f;
    height: 2.2em;
    color: #ffffff;
    font-size: 2em;
    text-align: center;
}

#menu-text{
    margin-top: 0.4em;
}

.options{
    color: #f24f4f;
}

.options:hover{
    color: #fc3a3a;
}

.form-options{
    display: inline;
}

.btn-large{
    background-color: #f24f4f;
}

.btn-large:hover{
    background-color: #fc3a3a;
}

.btn-back{
    background: none !important;
    box-shadow: none;
    color: black;
}

.btn-back:hover{
    background: none !important;
    box-shadow: none;
    color: #fc3a3a;
}

.input-field label {
    color: #000;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #f24f4f;
    box-shadow: 0 1px 0 0 #f24f4f;
}

.error{
    color: #ff0000;
    padding-left: 1em;
}